* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0; /* 
  outline: 1px solid red; */
}

p {
  max-width: clamp(40ch, 60ch, 75ch);
}

.logo {
  position: absolute;
  top: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(121, 78, 29, 0.473);
  gap: 1.5rem;
}

#baker {
  font-size: 2.5rem;
  color: aliceblue;
  font-family: "Pacifico", cursive;
}

body {
  background-color: var(--bg-color);
}

:root {
  --txtcolor: rgb(197, 195, 192);
  --pwd-invalid: rgb(167, 66, 27);
  --pwd-valid: rgb(81, 150, 16);
  --bg-color: rgb(32, 32, 32);
}

.page-container {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
}

.img-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 40vw;
  height: 100%;
}

.img-container > img {
  max-inline-size: 100%;
  max-block-size: 100%;
  height: 100vh;
  object-fit: cover;
}

.sign-up {
  box-sizing: border-box;
  padding-left: 30px;
  width: 58.4vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .page-container {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--bg-color);
    color: var(--txtcolor);
    gap: 5px;
    align-items: center;
  }

  .img-container > img {
    max-inline-size: 100%;
    max-block-size: 90%;
    height: 100vh;
    object-fit: cover;
  }

  .sign-up {
    box-sizing: border-box;
    padding-left: 5%;
    min-width: 80%;
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column nowrap;
  }

  .img-container {
    box-sizing: border-box;
    width: 100vw;
    height: 480px;
  }

  form {
    display: flex;
  }
}

.hero-txt {
  font-family: "Raleway", serif;
  font-size: 4rem;
  padding-bottom: 3rem;
  align-self: flex-start;
}

.dummy-txt > p {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.dummy-txt {
  font-size: 1rem;
  align-self: flex-start;
}

.remote-txt {
  padding: 1rem 0px;
  font-size: 1.25rem;
  align-self: flex-start;
}

input {
  background-color: var(--txtcolor);
  font-size: 1rem;
  padding: 15px;
  margin: 5px;
  border-style: none;
}

input:focus {
  box-sizing: inherit;
  border: inset 9px solid rgb(31, 169, 204);
  box-shadow: 0px 0px 8px 2px rgb(31, 169, 204);
}

[name="password"] {
}

[name="password"]:focus {
  box-shadow: 0px 0px 0px 0px;
}

#message {
  display: none;
  padding: 0px;
  margin-top: 0px;
  font-size: 1rem;
}

#message p {
  padding: 0px 5px;
}

/* Add a green text color when the requirements are right */
.valid {
  color: rgb(39, 109, 17);
}

/* Add a red text color when the requirements are wrong */
.invalid {
  color: rgb(160, 85, 34);
}

label {
  box-sizing: border-box;
  margin: 0px 0px;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
}

#submit {
  display: inline-block;
  margin-left: 8rem;
  margin-top: 3rem;
  width: 8rem;
  min-height: 3rem;
  border-radius: 5px;
  border-style: none;
  color: ivory;
  font-size: 1.25rem;
  background-color: rgb(40, 102, 138);
}

#submit:hover {
  background-color: rgb(55, 140, 189);
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px 9px 1px rgb(37, 128, 131);
}
