* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  max-width: clamp(40ch, 60ch, 75ch);
}

:root {
  --bgcolor: "rgb(32, 32, 32)";
  --txtcolor: rgb(197, 195, 192);
  background-color: rgb(32, 32, 32);
}

.page-container {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
}

.img-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 40vw;
  height: 100%;
}

.img-container img {
  max-inline-size: 100%;
  max-block-size: 100%;
  height: 100vh;
  object-fit: cover;
}

.sign-up {
  box-sizing: border-box;
  padding: 30px;
  width: 58.4vw;
  height: 100vh;
  background-color: var(--bgcolor);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .page-container {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    gap: 0px;
    align-items: center;
  }

  .sign-up {
    box-sizing: border-box;
    padding-left: 10%;
    min-width: 80%;
    background-color: var(rgb(32, 32, 32));
    display: flex;
    flex-flow: column nowrap;
  }

  .img-container {
    box-sizing: border-box;
    width: 100vw;
    height: 540px;
  }
  form {
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.4rem;
  }
}

.hero-txt {
  font-family: "Raleway", serif;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.dummy-txt > p {
  margin-bottom: 1rem;
}

.dummy-txt {
  font-size: 1rem;
}

.remote-txt {
  padding: 1rem 0px;
  font-size: 1.25rem;
}

input {
  background-color: var(--txtcolor);
  font-size: 1rem;
  padding: 15px;
  margin: 5px;
  border-style: none;
}

input:focus {
  box-sizing: inherit;
  border-color: rgb(31, 169, 204);
  border-style: solid;
  border-width: 4px;
  outline: none;
}

[name="password"],
[name="password-confirm"] {
  box-shadow: inset 0px 0px 0px 3px rgb(27, 122, 160);
}

input:valid + span::before {
  content: "✓";
  color: green;
}
input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}

label {
  box-sizing: border-box;
  margin: 0px 0px;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

#submit {
  display: inline-block;
  margin-left: 8rem;
  margin-top: 3rem;
  width: 8rem;
  min-height: 3rem;
  border-radius: 5px;
  border-style: none;
  color: black;
  background-color: rgb(40, 102, 138);
}

#submit:hover {
  background-color: rgb(55, 140, 189);
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px 9px 1px rgb(37, 128, 131);
}
